header {
  display: flex;
  border-bottom: 1px solid #4d4d4d;
  height: 6rem;
}

/* ICON OF THE RED MICROPHONE*/
.main-icon:hover {
  cursor: pointer;
}

.icon--circle {
  border-radius: 50%;
  border: 4px solid #e20a17;
  margin: 1rem 1.2rem;
  padding: 4px 10px;
}

.microphone-icon {
  transform: translateY(3px);
}

/* HOME AND DECIDE */
.navigation {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-left: 1px solid #e20a17;
}

.main-nav {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
  gap: 2.8rem;
  margin-left: 2.6rem;
}

.nav-element {
  font-size: 1.7rem;
  font-weight: 300px;
  letter-spacing: 0px;
}

.nav-element:hover,
.nav-element:active {
  cursor: pointer;
  transform: scale(1.15);
  transition: 0.3s;
}

.border-bottom {
  display: flex;
  height: 100%;
  border-bottom: 4px solid #e20a17;
  align-items: center;
}

.--active {
  font-weight: bold;
  color: #e20a17;
}

/* MENU ICON AND SEARCH ICON ON THE RIGHT */

.menu {
  display: flex;
  align-items: center;
  align-content: center;
  color: #bcbcbc;
  margin-right: 1.2rem;
}

.icon:hover,
.icon:active {
  color: #999999;
  transform: scale(1.15);
  cursor: pointer;
  transition: 0.3s;
}

.search--icon {
  margin-left: 6px;
}

/***********************************************************/
/********************* MEDIA QUERY ************************/
/*********************************************************/
