<section>
  <div class="upper-row">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="growth-icon"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      width="30px"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.6"
        d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"
      />
    </svg>
    <div class="plan">
      <p class="plan-title">Influence Plan - December 2021</p>
      <div class="borders-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="deposit-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          width="24px"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
          />
        </svg>
      </div>
      <span>#738</span>
    </div>
  </div>
  <div class="bottom-row">
    <div class="product">
      <img src="/assets/img/t-shirt.svg" alt="t-shirt" class="t-shirt" />
      <div class="product--type">
        <p class="prod--name">T-shirts</p>
        <p class="prod--description">Fashion <span>| Week T to T+3 </span></p>
      </div>
    </div>
    <div class="shortage">
      <p>Shortage Units</p>
      <span class="shortage-amount">10,214</span>
    </div>
    <div class="surplus">
      <p>Surplus Units</p>
      <span class="surpluss-amount">11,500</span>
    </div>
    <div class="revenue-and-gross">
      <div class="revenue">
        <p>Additional Revenue Impact</p>
        <span class="revenue-amount">$456K</span>
      </div>
      <div class="gross">
        <p>Additional Gross Profitability</p>
        <span class="gross-amount">$231K</span>
      </div>
      <table></table>
    </div>
  </div>
</section>
