<section class="description">
  <div class="information--panel">
    <div class="description--title">
      <p><strong>Evidence</strong></p>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="detection-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          width="22px"
          color="#E20613"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5.636 18.364a9 9 0 010-12.728m12.728 0a9 9 0 010 12.728m-9.9-2.829a5 5 0 010-7.07m7.072 0a5 5 0 010 7.07M13 12a1 1 0 11-2 0 1 1 0 012 0z"
          /></svg
      ></span>
    </div>
    <ul class="description--text">
      <li class="helper--margin-bottom">
        I see that <strong>20 SKUs</strong> out of 80 are
        <strong> contributing 85%</strong> of estimated demand. The overall
        model accuracy is about 97% for these SKUs.
      </li>
      <li class="helper--margin-bottom">
        The <strong> key drivers </strong>are holidays and promo:
        <strong> Buy1Get1</strong> and <strong>25% off</strong>.
      </li>
      <li class="helper--margin-bottom">
        LSTM Models are running on the latest data from Jan-2020 to Dec 2021.
        Incremental data has been appended to the model training set this week.
      </li>
    </ul>
  </div>
</section>
<section class="details">
  <div class="details--upper--section">
    <div>
      <p class="details--title">Diwo's Recommendation</p>
      <p class="details--description">
        Influence Buys | T-20 week | Retail Channel | Floorset T to T+3
      </p>
    </div>
    <span class="logo-placeholder"></span>
  </div>
  <div class="details--lower-section">
    <span class="plan-recommendations">Buy Plan Recommendations</span>
    <div class="product">
      <img src="/assets/img/t-shirt.svg" alt="t-shirt image" class="t-shirt" />
      <div>
        <p class="product--name">T-Shirt</p>
        <p class="product--info">
          SKU#4323122 | Whitepuffed Collar T-Shirt | AUR:
          <strong> $16.99 </strong>| AUR Wash: <strong>15%</strong>
        </p>
      </div>
    </div>
    <table class="table-details">
      <div class="helper--border-right">
        <td>SKU ID</td>
      </div>
      <div class="helper--border-right">
        <td>Existing Planned Units</td>
      </div>
      <div class="helper--border-right">
        <td>Unconstrained Demand</td>
      </div>
      <div class="helper--border-right">
        <td>Constrained Demand</td>
      </div>
      <div class="helper--border-right">
        <td>AUR</td>
      </div>
      <div class="helper--border-right">
        <td>New Planned Units</td>
      </div>
      <div class="helper--border-right">
        <td>Additional Revenue Impact</td>
      </div>
    </table>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
    <p>SCROLL TEST</p>
  </div>
</section>
